/* ------------------- fonts ------------------- */
$font-family--page:"Avenir", sans-serif;
$font-family-Rodchenko: "Rodchenko",sans-serif;

/* ------------------- global color ------------------- */
$main-beige:rgb(243 244 239 / 100%);
$main-black:rgb(53 53 53 / 100%);
$accent-color:rgb(226 82 74 / 100%);
$white-color:rgb(255 255 255 / 100%);
$light-grey:rgb(233 233 233 / 100%);
$no-active-grey:rgb(161 161 161 / 100%);
$blue-color:rgb(0 101 255 / 100%);
