<header class="header">
    <div class="header__container container">
        <!-- header logo -->
        <div class="header__logo">
            @@include('./logo-base.html')
        </div>
        <!-- header menu -->
        <nav class="header__menu menu">
            <!-- mobile menu-->
            <div class="hamb">
                <div class="hamb__area">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
            </div>
            <!-- menu list-->
            <ul class="menu__list">
                <li class="menu__item"><a href="./index.html#subscription-anchor" class="menu__link">Посетителям</a></li>
                <li class="menu__item"><a href="./index.html#exhibition-anchor"
                        class=" menu__link">Выставки</a></li>
                <li class="menu__item"><a href="./index.html#exhibition-anchor"
                        class=" menu__link">Билеты</a></li>
                <li class="menu__item"><a href="./index.html#footer-anchor" class=" menu__link">Контакты</a>
                </li>
            </ul>
        </nav>
        <div class="popup"></div>
    </div>
</header>