<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>museum</title>
    <link rel="stylesheet" href="../assets/style/style.min.css">
    <link rel="preload" href="../assets/fonts/AvenirNextCyr-Regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="../assets/fonts/AvenirNextCyr-Medium.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="../assets/fonts/Rodchenko.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="../assets/fonts/MatchBold.woff2" as="font" type="font/woff2" crossorigin>
</head>
<body>